/*! 
Johnathan Choi 2017
main.css
CSS file that supports index.html. Gradual phase-in from materialize.css
*/

@font-face {
    font-family: Roboto;
    src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: normal;
}

a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
    font-family: Roboto;
}

/* Body */
body{
    background-color: #010812;
    color: white;
    border-style: solid;
    border-width: 10px 5px;
    border-color: transparent;
    padding: 0% 15%;
    font-family: Roboto;
}

/* Logo */
.logo{
    background-color: #1E88E5;
    border: 0px;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    font-size: 2.5em;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: #1E88E5;
    font-size: 0.9em;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 5px;
    transition: 0.2s;
    color: white;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #42a5f5;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #0d47a1;
    border-bottom: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 10px solid #0d47a1;
    background-color: #1552B2;
    padding: 0px 5px;
}

