/*! 
Johnathan Choi 2017
main.css
CSS file that supports index.html. Gradual phase-in from materialize.css
*/

/* Logo */
.logo{
    width: 100%;
    background-color: #1E88E5;
    border: 0px;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    font-size: 3em;
}
.logo a{
    color: white;
}

/* Navigation bar */
.navbar{
    width: 100%;
    background-color: #1E88E5;
    overflow: hidden;
    font-size: 0.9em;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.navbar li{
    display: inline;
    padding: 10px 3px;
}
.navbar li:hover{
    background-color: #42a5f5;
}
.navbar a{
    color: white;
    display: inline-block;
    padding: 5px 0px;
    margin: 0px;
    border: 0px;
}

/* Body */
body{
    background-color: #010812;
    color: white;
    border-style: solid;
    border-width: 10px 5px;
    border-color: transparent;
    padding: 0% 15%;
}